/*
* {
   outline: 1px solid red !important;
}
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Lato', sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.row-1 {
    width: 100%;
    height: 50vh;
    display: flex;
}

div#r11 {
    background-color: #98132a;
    background-color: #f26fd8;
    text-align: center;
}

div#r12 {
    background-color: #cd8221;
}

div#r13 {
    background-color: turquoise;
}

div#r21 {
    background-color: #1e89bc;
}

div#r22 {
    background-color: #526704;
}

div#r23 {
    background-color: #a901fd;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
